*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.fdb_latexmk
*.fls
*.pdf
*.synctex.gz
*.xml
*.bcf
*.cut
mdnn_with_core50/mdnn.zip
mdnn.zip
/mdnn_with_core50/images/figs.zip
/mdnn_with_core50/mdnn_beforeRev1.zip